:root {
    --colorA: #34374c;
    --colorB: #2c2e3e;
        --colorB-dark: #171820;
        --colorB-light: #41445c;

    --colorC: #ee2b47;
    --colorD: #f6f6f6;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorA);
    color: var(--colorD);
    min-height: 100vh;
}

.round-border {
    border-radius: 4px;
    box-shadow: 2px 2px 5px var(--colorB-dark);
}

nav {
    background-color: var(--colorB);
    height: calc(100% - 1em);
    left: -30%;
    margin: 0.5em;
    position: fixed;
    width: 25%;
    transition: left 1.25s ease-in-out;
    z-index: 10;
}

#side-icon {
    margin: 1em 1.5em;
    position: absolute;
    width: 2em;
    transition: filters 1s;
    visibility: hidden;
}

main {
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

main::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

section {
    width: 100%;
    height: 100vh;


    z-index: 2;

    padding: 0.5em;
}